.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    background-color: bisque;
    width: 100%;
    height: 10vh;
}

.header_container ul{
    display: flex;
}

.header_container ul li {
    font-weight: bold;
    padding: 1em;
    color: black;
    list-style: none;
    cursor: pointer;
    transition: 0.7s;
    border-radius: 10px;
    margin-right: 1em;
}

.header_container ul li:hover{
    color: white;
    background-color: black;
}

.header_container img{
    width: 20px;
    height: 20px;
}